-r requirements.txt

# testing requirements
pytest>=6.2.3,<6.3.0

# repo maintenance tooling
black>=22.0.0,<23.0.0       # code styling enforcement tool
flake8>=3.9.0,<3.10.0       # linting tool
mypy==0.812                 # type checking tool
isort==5.8.0                # tool for ensuring imports are in the correct order
